.statistics-container {
  display: flex;
  margin: 26px -21px;
}

.statistic-col {
  flex: 0 0 33.3333%;
  padding: 0 21px;
}

.page-content {
  width: 100%;
  background: #fff9fe;
  padding: 16px 102px 120px 85px;
}

.page-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;

  &-navigation {
    display: flex;
    align-items: center;
  }
}

.panel-conversion {
  .table-container {
    display: flex;
    justify-content: space-between;
  }
}
