.statistic {
  min-height: 164px;

  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  padding: 21px 21px 17px 25px;
  display: flex;
  align-items: column;
  position: relative;

  &-information {
    margin-right: 24px;
    padding-top: 23px;
  }

  &-dinamyc {
    display: flex;
    justify-content: space-between;
  }

  &-percent {
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #1cd1a1;
    margin-right: 19px;
  }

  .dots-menu {
    position: absolute;
    right: 21px;
    top: 21px;
  }
}
